body{
    background-color:black;
    border:solid;
    border-color:aqua;
}
section{
    background:linear-gradient(to right,red,purple);
    border:solid;
   border-color: none;
    border-radius:20px;
    margin-top: 20px;
    margin:20px;
}
img{
    height:250px;
    width: 250px;
    margin:10px;
    transition: transform.2s;
}
img:hover{
    transform: scale(0.9);
}
h2{
    font-size:50px;
}
p{
    font-weight:bold;
    font-size:30px;
}
#logo{
    border:solid;
}
h2{
    text-decoration:underline;
}